html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, input , select,textarea{
  font-size: 1.6rem;
  font-family:  Helvetica, sans-serif;
}

body, #root{
  height: 100vh;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header{
  grid-area: header;
  background-color:#203040;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a{
  color: white ;
  text-decoration: none;
  display: block;
}
main{
  grid-area: main;
  background-color: brown;
}

footer{
  grid-area: footer;
  background-color:#203040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
}
.main{
  flex: 3;
  background-color: yellow;
}
.sidebar{
  flex:1;

  background-color: rgb(222, 235, 198);
}
a img{
  height: 378px;
  width: 300px;
}

ul li {
  list-style: none;
  margin: 8px;
}
.products{
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-price{
  display: flex;
  justify-content: space-around;
}
ul li a {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.button{
  padding: 7px;
  background-color:#cce;
  cursor: pointer;
border-radius: 5px;
font-size: 17px;
}

.button:hover{
  background-color: orangered;
}

.filter{
  display: flex;
    justify-content: space-around;
    border-bottom: solid rgb(181, 181, 241);
    padding: 10px;
    margin: 5px;
    margin-left: 34px;
    margin-right: 34px;
}
.filter-result,.filter-sort,.filter-size{
  padding: 5px;
  flex: 1;
}
.cart-header{
  margin-top: 15px;
  text-align: center;
  border-bottom: 2px #8aceec solid;
  padding: 11px;
}

.image img{
  width: 71px;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style: none;
}
.cart-items li {
  display: flex;
  justify-content: space-between;
 
  margin: 10px;
}
.title-button{
  display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.remove-button{
  display: flex;
  justify-content: space-around;
}
.div-price{
  margin: 10px;
  display:flex ;
  justify-content: space-between;
}
.input{
  border: 2px solid #b3b3d6;
    border-radius: 5px;
    padding: 4px;

}

.form-container{
  padding: 0px;
  margin: 0px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form-container > li{
  display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 70%;

}
.product-detailes{
  display: flex;
 justify-content: space-around;
}

.product-discriptopn{
  text-align: center;
}
.remove-modal{
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-image{
  height: 463px;
}




